html{
  -webkit-user-select: none;
  user-select: none;
}

header {
  -webkit-app-region: drag;
  display: block;
  border-bottom: 1px solid #ccc
}

header h4 {
  margin-top: 2px;
}

main {
  padding: 10px 20px;
}

label:after {
  width: 200px
}
